/* liScroll styles */

.tickercontainer {
border: 0;
background:0; 
width: 100%; 
height: 100%; 
margin: 0; 
padding: 0;
overflow: hidden; 
}

.tickercontainer .mask {
    position: relative;
    /* left: 10px; */
    left: 0;
    top: 0px;
    width: 100%;
    overflow: hidden;

}

ul.newsticker {
position: relative;
right: 750px;
/* left: 750px; */
list-style-type: none;
margin: 0;
padding: 0;

}

ul.newsticker li {
float: right; 
/* float: left;  */
margin: 0;
padding: 0;
background: transparent;
margin-right: 70px;
}
 


 /* liScroll styles */

/*
.tickercontainer .mask {
position: relative;
left: 10px;
top: 8px;
width: 718px;
overflow: hidden;
}
ul.newsticker { 
position: relative;
left: 750px;
font: bold 10px Verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; 
margin: 0;
padding: 0;
background: #fff;
}


*/